<h2 style="text-align: center; padding-bottom: 20px">"Um livro deve ser um foco de luz na mão de alguém"</h2>
<div class="row justify-content-center">
  <div class="col-lg-4 col-lg-offset-4">
      <div class="input-group">
          <input type="text" class="form-control" placeholder="title, isbn, author" [(ngModel)]="searchQuery"/>
          <div class="input-group-append">
              <button class="btn btn-outline-light"
              type="button"
              (click)="onSearch()">Search</button>
          </div>
      </div><!-- /input-group -->
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
